# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Media
media

# Static files
staticfiles

# Django stuff:
*.mo
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*/BOOTS/* 